agenda.example.com {
	encode zstd gzip

	reverse_proxy 127.0.0.1:8080 {
		header_up -Forwarded
		header_up X-Forwarded-For {http.request.remote.host}
		header_up X-Forwarded-Proto {http.request.scheme}
		header_up X-Forwarded-Host {http.request.host}
	}
}
